.message{
    background-color: white;
    color: black;
    border-radius: 10px;
}

.other-message-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 30vw;
}

#other{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1.5vw;
    overflow-wrap: anywhere;
}
.format{
    margin:0.5vw;
    padding: 0.5vw;
    font-size: calc(0.5em + 0.7vw);
}
.format-name{
    font-size: calc(0.5em + 0.7vw);
    margin:0;
}
@media only screen and (max-width:1200px) {
    .message{
        background-color: white;
        color: black;
        border-radius: 10px;
    }
    
    .other-message-wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 40vw;
    }
    #other{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 3vw;
        overflow-wrap: anywhere;
    }
    .format{
        margin:1vw;
        padding: 1vw;
        font-size: calc(0.8em + 1vw);
    }
    .format-name{
        font-size: calc(0.8em + 1vw);
        margin:0;
    }
}