.App {
  display: flex;
  flex-direction: column;
  /* background-color: black; */
  height: 100%;
}
.chat-wrapper{
  border-radius: 20px;
  background-color: #E1E5EA;
  /* margin: 1vw; */
  padding: 1vw;
  width: 100%;
  height: inherit;
  max-height: 79vh;
}
#chat{
  display: grid;
  grid-template-rows: 10fr 1fr;
  height: inherit;
  max-height: 65vh;
}
.message-box{
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns:80% 20%;
  background-color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}
.message-textbox{
  border-style: none;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
.chat{
  overflow-y: scroll;
  /* height: 72vh; */
  max-height: 75vh;
}
.Participants{
  display: none;
  /* height: 72vh; */
}
#testing-video{
  display: grid;
  width: inherit;
  grid-template-columns: repeat(auto-fill,minmax(400px,auto));
  grid-gap: 1vw;
}
.video-tag{
  border-radius:1vw;
  width: inherit;
  max-width: 50vw;
  cursor: pointer;
}
.Button-toggle{
  display: none;
}
.icon{
  /* background-color: crimson; */
  /* border-radius: 10px; */
}
.main-render{
  display: grid;
  grid-template-columns: minmax(500px,2fr) 1fr;
  grid-template-rows: auto;
  justify-items: center;
  /* align-items: center; */
  width: 100%;
  height: inherit;
  max-height: 79vh;
}
.footer{
  width: 100%;
  height: 6vh;
}
.main-render-wrapper{
  width: 100%;
  height: inherit;
  max-height: 79vh;
}
.header{
  width: 100%;
  margin-bottom:9vw;
}
.navbar-top{
  font-family: 'Grand Hotel', cursive;
  border-top-width: 10px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
  border-top-style: solid;
  border-image: linear-gradient(
139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
    border-image-source: linear-gradient(
139deg, rgb(251, 136, 23), rgb(255, 75, 1), rgb(193, 33, 39), rgb(224, 42, 255));
    border-image-slice: 3;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch;
}
.navbar-brand{
  font-size: xx-large;
}
.navbar-bottom{
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0.7;
}
.media-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: inherit;
  max-height: 79vh;
  overflow-y: scroll;
}
.mediaChat{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: flex-end;
  width: inherit;
}
.groupChat-wrapper{
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  width: inherit; */
  width: inherit;
  height: inherit;
  max-height: 79vh;
  position: sticky;
}
.groupChat{
  display: flex;
  flex-wrap: wrap;
  width: inherit;
  height: inherit;
  max-height: 79vh;
}
@media only screen and (max-width:1200px){
  .chat-wrapper{
    display: none;
  }
  .main-render{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: clip;
  }
  .Button-toggle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .media-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  #testing-video{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1vw;
    width: inherit;
  }
  .video-tag{
    border-radius:1vw;
    padding: 1vw;
    max-width: 100%;
  }
}
